<mat-grid-list [cols]="numColumnas" rowHeight="500px" gutterSize="3">
  <mat-grid-tile>
    <app-campaign name='prueba'
      image='https://mocah.org/uploads/posts/4514751-warrior-knight-fantasy-art-sword-medieval-armor.jpg'
      date='04/05/2021' description='prueba prueba prueba prueba prueba prueba prueba prueba prueba'>
    </app-campaign>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-campaign name='prueba'
      image='https://mocah.org/uploads/posts/4514751-warrior-knight-fantasy-art-sword-medieval-armor.jpg'
      date='04/05/2021' description='prueba prueba prueba prueba prueba prueba prueba prueba prueba'>
    </app-campaign>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-campaign name='prueba'
      image='https://mocah.org/uploads/posts/4514751-warrior-knight-fantasy-art-sword-medieval-armor.jpg'
      date='04/05/2021' description='prueba prueba prueba prueba prueba prueba prueba prueba prueba'>
    </app-campaign>
  </mat-grid-tile>
</mat-grid-list>