<mat-toolbar>
    <span class="spacer"></span>
    <h2 *ngIf="isLogin">SIGN IN</h2>
    <h2 *ngIf="!isLogin">SIGN UP</h2>
    <span class="spacer"></span>
</mat-toolbar>

<div class="centerText">
    <form #userForm="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput>
        </mat-form-field><br>
        <button mat-fab><mat-icon>done</mat-icon></button>
    </form>
</div>

<div class="centerText">
    <button mat-raised-button *ngIf="!isLogin" (click)="toggle()">Switch to Sign in</button>
    <button mat-raised-button *ngIf="isLogin" (click)="toggle()">Switch to Sign up</button>
    <button mat-raised-button  (click)="loadData()">loadData</button>
    <button mat-raised-button  (click)="saveData()">saveData</button>
</div>