<mat-toolbar>
    <span class="spacer"></span>
    <h2 *ngIf="isLogin">SIGN IN</h2>
    <h2 *ngIf="!isLogin">SIGN UP</h2>
    <span class="spacer"></span>
</mat-toolbar>

<div class="centerText">
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input [(ngModel)]="email" name="email" matInput email required >
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input [(ngModel)]="password" matInput password required minlength="6" name="password">
        </mat-form-field><br>
        <button mat-fab [disabled]="!userForm.valid"><mat-icon>done</mat-icon></button>
    </form>
</div>

<div class="centerText">
    <button mat-raised-button *ngIf="!isLogin" (click)="toggleSignIn()">Switch to Sign in</button>
    <button mat-raised-button *ngIf="isLogin" (click)="toggleSignIn()">Switch to Sign up</button>
</div>