<div class="container">
  <div class="row">
    <h1 class="col-12">Lista de Campañas</h1>
  </div>
  <div class="row">
    <div class="col-6">
      <div *ngFor="let campaign of campaignList;let campaignIndex = index">
        <p><b>Nombre</b> {{campaign.name}} <button (click)="onDeleteCampaing(campaignIndex)">Delete Campaign</button>
        </p>
        <p><b>Ambientacion</b> {{campaign.setting}}</p>
        <p><b>Sistema</b> {{campaign.system}}</p>
        <p><b>Descripcion</b> {{campaign.description}}</p>
        <table *ngIf="campaign.sessions" border="1">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Apuntes</th>
            </tr>
          </thead>
          <tr *ngFor="let session of campaign.sessions; let sessionIndex = index">
            <th>{{session.date}}</th>
            <th>{{session.text}}</th>
            <th><button (click)="onDeleteSession(campaignIndex,sessionIndex)">Delete</button></th>
          </tr>
        </table>
        <textarea rows="4" cols="60" class="newSession"></textarea><button
          (click)="onAddSession(campaignIndex)">Add Session</button>
        <br>
      </div>
    </div>
    <hr>
    <form [formGroup]="campaignForm" class="col-6" (ngSubmit)="onSubmit()">
      <p>
        <label for="name">Nombre de la campaña</label>
        <input type="text" name="name" id="name" required formControlName="name">
      </p>
      <p>
        <label for="setting">Ambientacion</label>
        <input type="text" name="setting" id="setting" formControlName="setting">
      </p>
      <p>
        <label for="system">Sistema</label>
        <input type="text" name="System" id="system" formControlName="system">
      </p>
      <p>
        <label for="description">Descripcion</label><br>
        <textarea id="description" name="description" rows="4" cols="50" formControlName="description"></textarea>
      </p>
      <p><button type="submit" class="btn btn-primary">Crear</button></p>
    </form>
  </div>
</div>