<mat-grid-list [cols]="numColumnas" rowHeight="500px" gutterSize="3">
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Campaña1</mat-card-title>
      <mat-card-subtitle>Creada el: 04/05/2021</mat-card-subtitle>
      <a href="#">
        <img mat-card-image class="matCardImage"
          src="https://mocah.org/uploads/posts/4514751-warrior-knight-fantasy-art-sword-medieval-armor.jpg">
      </a>
      <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget massa venenatis, condimentum
        elit
        nec, convallis orci.
        Morbi vehicula, metus vel interdum pretium, orci dui gravida quam, ac ullamcorper nisl lorem eget turpis.
        Praesent
        ac
      </mat-card-content>
      <mat-card-footer>
        <button mat-icon-button class="botonEditar">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="botonBorrar">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Campaña1</mat-card-title>
      <mat-card-subtitle>Creada el: 04/05/2021</mat-card-subtitle>
      <a href="#">
        <img mat-card-image class="matCardImage"
          src="https://mocah.org/uploads/posts/4514751-warrior-knight-fantasy-art-sword-medieval-armor.jpg">
      </a>
      <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget massa venenatis, condimentum
        elit
        nec, convallis orci.
        Morbi vehicula, metus vel interdum pretium, orci dui gravida quam, ac ullamcorper nisl lorem eget turpis.
        Praesent
        ac
      </mat-card-content>
      <mat-card-footer>
        <button mat-icon-button class="botonEditar">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="botonBorrar">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Campaña1</mat-card-title>
      <mat-card-subtitle>Creada el: 04/05/2021</mat-card-subtitle>
      <a href="#">
        <img mat-card-image class="matCardImage"
          src="https://mocah.org/uploads/posts/4514751-warrior-knight-fantasy-art-sword-medieval-armor.jpg">
      </a>
      <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget massa venenatis, condimentum
        elit
        nec, convallis orci.
        Morbi vehicula, metus vel interdum pretium, orci dui gravida quam, ac ullamcorper nisl lorem eget turpis.
        Praesent
        ac
      </mat-card-content>
      <mat-card-footer>
        <button mat-icon-button class="botonEditar">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="botonBorrar">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Campaña1</mat-card-title>
      <mat-card-subtitle>Creada el: 04/05/2021</mat-card-subtitle>
      <a href="#">
        <img mat-card-image class="matCardImage"
          src="https://mocah.org/uploads/posts/4514751-warrior-knight-fantasy-art-sword-medieval-armor.jpg">
      </a>
      <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget massa venenatis, condimentum
        elit
        nec, convallis orci.
        Morbi vehicula, metus vel interdum pretium, orci dui gravida quam, ac ullamcorper nisl lorem eget turpis.
        Praesent
        ac
      </mat-card-content>
      <mat-card-footer>
        <button mat-icon-button class="botonEditar">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="botonBorrar">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>

  
</mat-grid-list>