<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="row">
        <a routerLink="">
          <mat-icon aria-hidden="false" aria-label="home list">list</mat-icon>
        </a>
      </div>
      <div class="row">
        <a routerLink="/campaign/campaign-list">
          <mat-icon aria-hidden="false" aria-label="home auto_stories">auto_stories</mat-icon>
        </a>
      </div>
      <div class="row">
        <a routerLink="">
          <mat-icon aria-hidden="false" aria-label="home article">article</mat-icon>
        </a>
      </div>
      <div class="row">
        <a routerLink="">
          <mat-icon aria-hidden="false" aria-label="home feedback">feedback</mat-icon>
        </a>
      </div>
    </div>

    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>