<div class="container">
  <div class="row">
    <div class="col-2">
      <div class="row">
        <span class="material-icons md-48">list</span>
      </div>
      <div class="row">
        <span class="material-icons md-48">auto_stories</span>
      </div>
      <div class="row">
        <span class="material-icons md-48">article</span>
      </div>
      <div class="row">
        <span class="material-icons md-48">feedback</span>
      </div>
    </div>

    <div class="col-10">
      <app-campaign></app-campaign>
    </div>
  </div>
</div>